In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
pd.options.mode.chained_assignment = None
df = pd.read_csv('data.csv')

In [3]:
df = df.fillna(0)

In [4]:
df.loc[df.type=='RE', 'amount'] = - df.loc[df.type=='RE']['amount']

In [5]:
df = df.drop('type', axis=1)

In [6]:
import datetime

In [7]:
def get_day(date):
    today = datetime.datetime(date[0], date[1], date[2])
    return today.weekday()

def parse_date(date):
    date = date.split()[0].split('/')
    return (date[0], date[1], date[2])

In [9]:
df.head(10)

            time   amount
0  2017/1/1 0:00   729.64
1  2017/1/1 0:05  1465.15
2  2017/1/1 0:10  1456.07
3  2017/1/1 0:15  1764.28
4  2017/1/1 0:20  1827.80
5  2017/1/1 0:25   689.82
6  2017/1/1 0:30  1088.74
7  2017/1/1 0:35   931.05
8  2017/1/1 0:40   807.87
9  2017/1/1 0:45  1595.64

In [ ]:
y, m, d = 2017, 1, 1
day_info = []
day_data = []
with open('data2.csv', 'w+') as f:
    for index, row in df.iterrows():
        y, m, d = parse_date(row['time'])